.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide-active {
  display: block;
  background-color: red;
  width: 100%;
  height: 100%;
  object-fit: cover;
}




/* Media query para pantallas con un ancho máximo de 600px */
@media (max-width: 600px) {
  .swiper-wrapper {
    padding: 40px 0;
  }

  .swiper-slide-active {
    border: 6px solid var(--color-primary);
    padding: 4px;
    background: #fff;
    z-index: 1;
    height: auto;
    width: auto;
    transform: scale(1.4);
  }
    
}

/* Media query para pantallas con un ancho mínimo de 601px y máximo de 900px */
@media (min-width: 601px) and (max-width: 900px) {
  .swiper-wrapper {
    padding: 40px 0;
  }

  .swiper-slide-active {
    border: 6px solid var(--color-primary);
    padding: 4px;
    background: #fff;
    z-index: 1;
    transform: scale(1.2);
  }
    
}

/* Media query para pantallas con un ancho mínimo de 901px */
@media (min-width: 901px) {
  .swiper-wrapper {
    padding: 40px 0;
  }

  .swiper-slide-active {
    border: 6px solid var(--color-primary);
    padding: 4px;
    background: #fff;
    z-index: 1;
    transform: scale(1.2);
  }
    
}