.columna {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botones-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.boton-hover {
    background-color: $color-principal;
    border-color: $color-principal;
    border-radius: 100px;
    width: auto;
    height: auto;
    font-size: 12;
    margin-right: 5px;

    &:hover {
        background-color: darken($color-principal, 10%);
    }

    &:active,
    &.seleccionado:active {
        background-color: darken($color-principal, 30%);
    }

    &.seleccionado {
        background-color: darken($color-principal, 20%);
    }
}


.input-filter {
    font-size: 15px;
}

.row-filtros {
    margin-bottom: 20px;
}

.filter-busqueda-input {
    font-size: auto;

}

.filter-input-dropdown {
    width: auto;
}

.filter-radio-buttons {
    display: inline-flex;
    font-size: auto;
    width: auto;
    margin-top: 15px;
}


.navbar {
    background-color: $color-principal;
    color: white;
}

.bagde-area {

    padding: 5px 10px;
    border-radius: 20px;
    background-color: $color-principal;
    color: white;
    font-weight: bold;
    font-size: 0.7em;
    display: inline-block;
    margin-right: 4px;

}

.bagde-area-seleccionado {

    padding: 5px 10px;
    border-radius: 20px;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 0.7em;
    display: inline-block;
    margin-right: 4px;

}